/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Primary Colors */
  --color-blue: #1976D2; /* Main brand blue for buttons and headers */
  --color-blue-light: #E3F2FD; /* Light blue for backgrounds and highlights */
  --color-blue-dark: #0D47A1; /* Dark blue for emphasis */
  --color-black: #000000; /* Standard black for text and contrast */

  /* Secondary Colors */
  --color-white: #FFFFFF; /* Pure white for contrast */
  --color-gray-light: #F5F5F5; /* Soft gray for clean UI elements */
  --color-gray-dark: #E0E0E0; /* Light gray for dividers and subtle elements */

  /* Accent Colors */
  --color-success: #4CAF50; /* Green for approvals and positive financial trends */
  --color-pending: #FFC107; /* Yellow for pending transactions or warnings */
  --color-danger: #D32F2F; /* Red for flagged anomalies and errors */
}
/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding-inline:1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1976D2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #1976D2;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}





